@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	background-color: #eeeeee;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.header{
	background-color: #404040;
	display: inline-block;
	width: 100%;
	position: fixed;
	top: 0;
	height: 60px;
}

.content{
	background-color: #808080;
	padding-top: 60px;
/*	display: inline-block;*/
}
.content .sidebar{
	width: 300px;
	background-color: #eeeeee;
	float: left;
	position: fixed;
	height: 100%;
}
.content .sidebar a{
	text-decoration: none;
}
.content .main-content{
	padding-left: 310px;
	height: 8000px;
	background-color: #ffffff;
	display: inline-block;
}
.content .main-content .Intro{
}
.content .main-content .Intro .code{
	width:50%;
    display: inline-block;
}
.content .main-content .Intro .code xmp{
	background-color: #eeeeee ;
    border-left:10px solid #808080 ;
    height: auto;
    display: inline-block;
    padding:0px 10px;
    width:90%;
    white-space: pre-wrap;
}
.content .main-content .Element{
}
.content .main-content .Element .preview{
    width:95%;
    display: inline-block;
    border:1px solid #000000;
    padding: 10px;
}
.content .main-content .Element .code{
	width:100%;
    display: inline-block;
}
.content .main-content .Element .code xmp{
	background-color: #eeeeee ;
    border-left:10px solid #808080 ;
    height: auto;
    display: inline-block;
    padding:0px 10px;
    width:90%;
    white-space: pre-wrap;
}
.footer{
	background-color: #cccccc;
	display: inline-block;
	width: 100%;
}
.garis{
	border-top: 2px solid #000000;
	width: 98%;
	margin: 20px 0px 20px 0px;
}
p{
	padding-right: 10px;
	text-indent: 20px;
}